doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div.footer
            br
            | Incora project
            br
            a(href="https://incorainc.com") Incora web site